services:
  ros2:
    build:
      context: .
      args:
        USERNAME: ${USER:-ros2user}
        USER_UID: ${UID:-1000}
        USER_GID: ${GID:-1000}
    image: ros2-humble-dev:latest
    container_name: ros2-workspace
    network_mode: host
    ipc: host
    pid: host
    stdin_open: true
    tty: true
    working_dir: /home/ws
    user: ${USER:-ros2user}

    environment:
      - ROS_DOMAIN_ID=42
      - ROS_AUTOMATIC_DISCOVERY_RANGE=LOCALHOST
      - DISPLAY=:0
      - LIBGL_ALWAYS_SOFTWARE=1

    volumes:
      # Workspace with persistent build cache
      - workspace:/home/ws

      # Source code overlays on top
      - ./src:/home/ws/src

      # X11 for GUI applications
      - /tmp/.X11-unix:/tmp/.X11-unix

    extra_hosts:
      - "host.docker.internal:host-gateway"

    command: /bin/bash

volumes:
  workspace:
